# For Luogu cookie
UID=your_uid
CLIENT=your_client_id

# For DingTalk notification(Optional)
ENABLE_DINGTALK=true # set to anything except "true" to disable
DINGTALK_WEBHOOK="https://oapi.dingtalk.com/robot/send?access_token=your_access_token"